/* 
.container {
   border: 1px solid gray;
    padding: 20px;
    margin: 20px;
    width: 400px;
    border-radius: 10px;}
/* .Box{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
} */ 


.box{
     border: 1px solid gray;
     padding: 20px;
     margin: 20px;
    width: 400px;
    border-radius: 10px;
    padding-left: 50px;

}
.Div{
  display: flex;
  justify-content: space-evenly;
  
}



